Ejercicio Unidad 2 Pandas

Importar librería Pandas

In [4]:
#Cargar datos CSV con pandas
import pandas as pd
df = pd.read_csv('Iris_CSV.csv')
df.head(10) #Visualizar las primeras 10 filas de datos

   sepal_length  sepal_width   petal_length  petal_width        class
0          51.0         35.0           14.0          2.0  Iris-setosa
1          49.0         30.0           14.0          2.0  Iris-setosa
2          47.0         32.0           13.0          2.0  Iris-setosa
3          46.0         31.0           15.0          2.0  Iris-setosa
4          50.0         36.0           14.0          2.0  Iris-setosa
5          54.0         39.0           17.0          4.0  Iris-setosa
6          46.0         34.0           14.0          3.0  Iris-setosa
7          50.0         34.0           15.0          2.0  Iris-setosa
8          44.0         29.0           14.0          2.0  Iris-setosa
9          49.0         31.0           15.0          1.0  Iris-setosa

El comando "describe" permite ver la districión de los datos, los máximos, los mínimos, la media,etc

In [3]:
df.describe()

       sepal_length  sepal_width   petal_length  petal_width
count    150.000000   150.000000     150.000000   150.000000
mean      58.433333    30.540000      37.586667    11.986667
std        8.280661     4.335943      17.644204     7.631607
min       43.000000    20.000000      10.000000     1.000000
25%       51.000000    28.000000      16.000000     3.000000
50%       58.000000    30.000000      43.500000    13.000000
75%       64.000000    33.000000      51.000000    18.000000
max       79.000000    44.000000      69.000000    25.000000

El comando "info" muestra que tipo de datos incluye cada columna del conjunto de datos

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sepal_length   150 non-null    float64
 1   sepal_width    150 non-null    float64
 2    petal_length  150 non-null    float64
 3   petal_width    150 non-null    float64
 4    class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

Existen varios comandos que permiten mostrar toda la información del conjunto de datos, estos comandos son:

In [15]:
#Número máximo de filas del conjunto de datos
pd.set_option('display.max_rows', 500)
#Número máximo de columnas del conjunto de datos
pd.set_option('display.max_columns', 5)
#Número máximo de tamaño en el conjunto de datos
pd.set_option('display.width', 1000)
print(df)

     sepal_length  sepal_width   petal_length  petal_width            class
0            51.0         35.0           14.0          2.0      Iris-setosa
1            49.0         30.0           14.0          2.0      Iris-setosa
2            47.0         32.0           13.0          2.0      Iris-setosa
3            46.0         31.0           15.0          2.0      Iris-setosa
4            50.0         36.0           14.0          2.0      Iris-setosa
5            54.0         39.0           17.0          4.0      Iris-setosa
6            46.0         34.0           14.0          3.0      Iris-setosa
7            50.0         34.0           15.0          2.0      Iris-setosa
8            44.0         29.0           14.0          2.0      Iris-setosa
9            49.0         31.0           15.0          1.0      Iris-setosa
10           54.0         37.0           15.0          2.0      Iris-setosa
11           48.0         34.0           16.0          2.0      Iris-setosa
12           48.0         30.0           14.0          1.0      Iris-setosa
13           43.0         30.0           11.0          1.0      Iris-setosa
14           58.0         40.0           12.0          2.0      Iris-setosa
15           57.0         44.0           15.0          4.0      Iris-setosa
16           54.0         39.0           13.0          4.0      Iris-setosa
17           51.0         35.0           14.0          3.0      Iris-setosa
18           57.0         38.0           17.0          3.0      Iris-setosa
19           51.0         38.0           15.0          3.0      Iris-setosa
20           54.0         34.0           17.0          2.0      Iris-setosa
21           51.0         37.0           15.0          4.0      Iris-setosa
22           46.0         36.0           10.0          2.0      Iris-setosa
23           51.0         33.0           17.0          5.0      Iris-setosa
24           48.0         34.0           19.0          2.0      Iris-setosa
25           50.0         30.0           16.0          2.0      Iris-setosa
26           50.0         34.0           16.0          4.0      Iris-setosa
27           52.0         35.0           15.0          2.0      Iris-setosa
28           52.0         34.0           14.0          2.0      Iris-setosa
29           47.0         32.0           16.0          2.0      Iris-setosa
30           48.0         31.0           16.0          2.0      Iris-setosa
31           54.0         34.0           15.0          4.0      Iris-setosa
32           52.0         41.0           15.0          1.0      Iris-setosa
33           55.0         42.0           14.0          2.0      Iris-setosa
34           49.0         31.0           15.0          1.0      Iris-setosa
35           50.0         32.0           12.0          2.0      Iris-setosa
36           55.0         35.0           13.0          2.0      Iris-setosa
37           49.0         31.0           15.0          1.0      Iris-setosa
38           44.0         30.0           13.0          2.0      Iris-setosa
39           51.0         34.0           15.0          2.0      Iris-setosa
40           50.0         35.0           13.0          3.0      Iris-setosa
41           45.0         23.0           13.0          3.0      Iris-setosa
42           44.0         32.0           13.0          2.0      Iris-setosa
43           50.0         35.0           16.0          6.0      Iris-setosa
44           51.0         38.0           19.0          4.0      Iris-setosa
45           48.0         30.0           14.0          3.0      Iris-setosa
46           51.0         38.0           16.0          2.0      Iris-setosa
47           46.0         32.0           14.0          2.0      Iris-setosa
48           53.0         37.0           15.0          2.0      Iris-setosa
49           50.0         33.0           14.0          2.0      Iris-setosa
50           70.0         32.0           47.0         14.0  Iris-versicolor
51           64.0         32.0           45.0         15.0  Iris-versicolor
52           69.0         31.0           49.0         15.0  Iris-versicolor
53           55.0         23.0           40.0         13.0  Iris-versicolor
54           65.0         28.0           46.0         15.0  Iris-versicolor
55           57.0         28.0           45.0         13.0  Iris-versicolor
56           63.0         33.0           47.0         16.0  Iris-versicolor
57           49.0         24.0           33.0         10.0  Iris-versicolor
58           66.0         29.0           46.0         13.0  Iris-versicolor
59           52.0         27.0           39.0         14.0  Iris-versicolor
60           50.0         20.0           35.0         10.0  Iris-versicolor
61           59.0         30.0           42.0         15.0  Iris-versicolor
62           60.0         22.0           40.0         10.0  Iris-versicolor
63           61.0         29.0           47.0         14.0  Iris-versicolor
64           56.0         29.0           36.0         13.0  Iris-versicolor
65           67.0         31.0           44.0         14.0  Iris-versicolor
66           56.0         30.0           45.0         15.0  Iris-versicolor
67           58.0         27.0           41.0         10.0  Iris-versicolor
68           62.0         22.0           45.0         15.0  Iris-versicolor
69           56.0         25.0           39.0         11.0  Iris-versicolor
70           59.0         32.0           48.0         18.0  Iris-versicolor
71           61.0         28.0           40.0         13.0  Iris-versicolor
72           63.0         25.0           49.0         15.0  Iris-versicolor
73           61.0         28.0           47.0         12.0  Iris-versicolor
74           64.0         29.0           43.0         13.0  Iris-versicolor
75           66.0         30.0           44.0         14.0  Iris-versicolor
76           68.0         28.0           48.0         14.0  Iris-versicolor
77           67.0         30.0           50.0         17.0  Iris-versicolor
78           60.0         29.0           45.0         15.0  Iris-versicolor
79           57.0         26.0           35.0         10.0  Iris-versicolor
80           55.0         24.0           38.0         11.0  Iris-versicolor
81           55.0         24.0           37.0         10.0  Iris-versicolor
82           58.0         27.0           39.0         12.0  Iris-versicolor
83           60.0         27.0           51.0         16.0  Iris-versicolor
84           54.0         30.0           45.0         15.0  Iris-versicolor
85           60.0         34.0           45.0         16.0  Iris-versicolor
86           67.0         31.0           47.0         15.0  Iris-versicolor
87           63.0         23.0           44.0         13.0  Iris-versicolor
88           56.0         30.0           41.0         13.0  Iris-versicolor
89           55.0         25.0           40.0         13.0  Iris-versicolor
90           55.0         26.0           44.0         12.0  Iris-versicolor
91           61.0         30.0           46.0         14.0  Iris-versicolor
92           58.0         26.0           40.0         12.0  Iris-versicolor
93           50.0         23.0           33.0         10.0  Iris-versicolor
94           56.0         27.0           42.0         13.0  Iris-versicolor
95           57.0         30.0           42.0         12.0  Iris-versicolor
96           57.0         29.0           42.0         13.0  Iris-versicolor
97           62.0         29.0           43.0         13.0  Iris-versicolor
98           51.0         25.0           30.0         11.0  Iris-versicolor
99           57.0         28.0           41.0         13.0  Iris-versicolor
100          63.0         33.0           60.0         25.0   Iris-virginica
101          58.0         27.0           51.0         19.0   Iris-virginica
102          71.0         30.0           59.0         21.0   Iris-virginica
103          63.0         29.0           56.0         18.0   Iris-virginica
104          65.0         30.0           58.0         22.0   Iris-virginica
105          76.0         30.0           66.0         21.0   Iris-virginica
106          49.0         25.0           45.0         17.0   Iris-virginica
107          73.0         29.0           63.0         18.0   Iris-virginica
108          67.0         25.0           58.0         18.0   Iris-virginica
109          72.0         36.0           61.0         25.0   Iris-virginica
110          65.0         32.0           51.0         20.0   Iris-virginica
111          64.0         27.0           53.0         19.0   Iris-virginica
112          68.0         30.0           55.0         21.0   Iris-virginica
113          57.0         25.0           50.0         20.0   Iris-virginica
114          58.0         28.0           51.0         24.0   Iris-virginica
115          64.0         32.0           53.0         23.0   Iris-virginica
116          65.0         30.0           55.0         18.0   Iris-virginica
117          77.0         38.0           67.0         22.0   Iris-virginica
118          77.0         26.0           69.0         23.0   Iris-virginica
119          60.0         22.0           50.0         15.0   Iris-virginica
120          69.0         32.0           57.0         23.0   Iris-virginica
121          56.0         28.0           49.0         20.0   Iris-virginica
122          77.0         28.0           67.0         20.0   Iris-virginica
123          63.0         27.0           49.0         18.0   Iris-virginica
124          67.0         33.0           57.0         21.0   Iris-virginica
125          72.0         32.0           60.0         18.0   Iris-virginica
126          62.0         28.0           48.0         18.0   Iris-virginica
127          61.0         30.0           49.0         18.0   Iris-virginica
128          64.0         28.0           56.0         21.0   Iris-virginica
129          72.0         30.0           58.0         16.0   Iris-virginica
130          74.0         28.0           61.0         19.0   Iris-virginica
131          79.0         38.0           64.0         20.0   Iris-virginica
132          64.0         28.0           56.0         22.0   Iris-virginica
133          63.0         28.0           51.0         15.0   Iris-virginica
134          61.0         26.0           56.0         14.0   Iris-virginica
135          77.0         30.0           61.0         23.0   Iris-virginica
136          63.0         34.0           56.0         24.0   Iris-virginica
137          64.0         31.0           55.0         18.0   Iris-virginica
138          60.0         30.0           48.0         18.0   Iris-virginica
139          69.0         31.0           54.0         21.0   Iris-virginica
140          67.0         31.0           56.0         24.0   Iris-virginica
141          69.0         31.0           51.0         23.0   Iris-virginica
142          58.0         27.0           51.0         19.0   Iris-virginica
143          68.0         32.0           59.0         23.0   Iris-virginica
144          67.0         33.0           57.0         25.0   Iris-virginica
145          67.0         30.0           52.0         23.0   Iris-virginica
146          63.0         25.0           50.0         19.0   Iris-virginica
147          65.0         30.0           52.0         20.0   Iris-virginica
148          62.0         34.0           54.0         23.0   Iris-virginica
149          59.0         30.0           51.0         18.0   Iris-virginica
150           NaN          NaN            NaN          NaN              NaN

In [29]:
import pandas as pd
df = pd.read_csv('Ejercicio1.csv')
df.head(10)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
print(df)

            Mes  data science  machine learning  deep learning  categorical
0    2004-01-01            12                18              4            1
1    2004-02-01            12                21              2            1
2    2004-03-01             9                21              2            1
3    2004-04-01            10                16              4            1
4    2004-05-01             7                14              3            1
5    2004-06-01             9                17              3            1
6    2004-07-01             9                16              3            1
7    2004-08-01             7                14              3            1
8    2004-09-01            10                17              4            1
9    2004-10-01             8                17              4            1
10   2004-11-01             8                15              2            1
11   2004-12-01             8                16              2            1
12   2005-01-01            10                16              2            0
13   2005-02-01             9                14              3            0
14   2005-03-01             8                13              2            0
15   2005-04-01             8                12              3            0
16   2005-05-01             8                15              3            0
17   2005-06-01             8                12              3            0
18   2005-07-01             6                11              2            0
19   2005-08-01             9                10              2            0
20   2005-09-01             7                14              2            0
21   2005-10-01             7                16              3            0
22   2005-11-01             7                13              4            0
23   2005-12-01             5                13              2            0
24   2006-01-01             7                12              3            0
25   2006-02-01             7                12              3            0
26   2006-03-01             7                12              2            0
27   2006-04-01             7                12              2            0
28   2006-05-01             7                11              2            0
29   2006-06-01             6                10              2            0
30   2006-07-01             5                 9              1            0
31   2006-08-01             6                 9              2            0
32   2006-09-01             7                11              1            0
33   2006-10-01             6                11              2            0
34   2006-11-01             7                11              2            0
35   2006-12-01             4                 9              3            0
36   2007-01-01             6                11              2            0
37   2007-02-01             7                11              3            0
38   2007-03-01             6                 9              3            0
39   2007-04-01             5                10              3            0
40   2007-05-01             6                 9              1            0
41   2007-06-01             6                 9              2            0
42   2007-07-01             4                 9              2            0
43   2007-08-01             5                 9              3            0
44   2007-09-01             6                 9              2            0
45   2007-10-01             6                11              2            0
46   2007-11-01             6                10              2            0
47   2007-12-01             5                 8              3            0
48   2008-01-01             6                 9              2            1
49   2008-02-01             6                 9              2            1
50   2008-03-01             5                 8              3            1
51   2008-04-01             6                10              2            1
52   2008-05-01             5                 9              2            1
53   2008-06-01             5                 8              2            1
54   2008-07-01             5                 7              3            1
55   2008-08-01             5                 7              1            1
56   2008-09-01             6                 9              2            1
57   2008-10-01             6                10              2            1
58   2008-11-01             6                 9              2            1
59   2008-12-01             5                 8              2            1
60   2009-01-01             6                 8              3            0
61   2009-02-01             6                 9              3            0
62   2009-03-01             6                 8              2            0
63   2009-04-01             6                 9              3            0
64   2009-05-01             5                 8              2            0
65   2009-06-01             5                 8              2            0
66   2009-07-01             4                 8              2            0
67   2009-08-01             5                 8              2            0
68   2009-09-01             7                 8              3            0
69   2009-10-01             6                 9              2            0
70   2009-11-01             7                 9              2            0
71   2009-12-01             6                 8              2            0
72   2010-01-01             7                 8              2            0
73   2010-02-01             7                 9              2            0
74   2010-03-01             6                 9              2            0
75   2010-04-01             6                 9              2            0
76   2010-05-01             6                 8              2            0
77   2010-06-01             5                 8              2            0
78   2010-07-01             5                 8              3            0
79   2010-08-01             5                 8              2            0
80   2010-09-01             7                 9              2            0
81   2010-10-01             6                 9              3            0
82   2010-11-01             6                 9              3            0
83   2010-12-01             5                 9              2            0
84   2011-01-01             7                 8              3            0
85   2011-02-01             6                 9              2            0
86   2011-03-01             6                 9              3            0
87   2011-04-01             6                 9              2            0
88   2011-05-01             5                 9              3            0
89   2011-06-01             5                 8              2            0
90   2011-07-01             4                 7              2            0
91   2011-08-01             5                 8              2            0
92   2011-09-01             7                11              3            0
93   2011-10-01             7                12              3            0
94   2011-11-01             7                12              3            0
95   2011-12-01             6                10              2            0
96   2012-01-01             7                10              3            1
97   2012-02-01             7                11              3            1
98   2012-03-01             7                11              2            1
99   2012-04-01             6                11              3            1
100  2012-05-01             6                11              4            1
101  2012-06-01             6                10              3            1
102  2012-07-01             6                10              3            1
103  2012-08-01             7                10              3            1
104  2012-09-01            10                12              3            1
105  2012-10-01             8                13              4            1
106  2012-11-01             8                12              6            1
107  2012-12-01             6                11              4            1
108  2013-01-01             8                11              5            0
109  2013-02-01             8                12              4            0
110  2013-03-01             8                12              5            0
111  2013-04-01             9                13              6            0
112  2013-05-01             9                13              7            0
113  2013-06-01             8                12              5            0
114  2013-07-01             8                12              6            0
115  2013-08-01             9                11              6            0
116  2013-09-01            12                13              8            0
117  2013-10-01            11                16              7            0
118  2013-11-01            11                15              8            0
119  2013-12-01            10                14              8            0
120  2014-01-01            13                14              9            0
121  2014-02-01            12                16             10            0
122  2014-03-01            13                16             10            0
123  2014-04-01            13                17             10            0
124  2014-05-01            12                16             11            0
125  2014-06-01            12                15             10            0
126  2014-07-01            13                16              9            0
127  2014-08-01            16                16             11            0
128  2014-09-01            19                18             12            0
129  2014-10-01            17                18             12            0
130  2014-11-01            17                20             11            0
131  2014-12-01            16                18             17            0
132  2015-01-01            19                20             19            0
133  2015-02-01            18                21             20            0
134  2015-03-01            18                21             21            0
135  2015-04-01            20                24             19            0
136  2015-05-01            19                22             20            0
137  2015-06-01            20                24             23            0
138  2015-07-01            20                24             23            0
139  2015-08-01            23                23             22            0
140  2015-09-01            27                26             24            0
141  2015-10-01            25                27             24            0
142  2015-11-01            24                30             28            0
143  2015-12-01            22                28             28            0
144  2016-01-01            27                28             34            1
145  2016-02-01            27                32             34            1
146  2016-03-01            26                34             44            1
147  2016-04-01            27                34             44            1
148  2016-05-01            27                34             42            1
149  2016-06-01            27                36             46            1
150  2016-07-01            26                32             40            1
151  2016-08-01            29                34             41            1
152  2016-09-01            36                39             46            1
153  2016-10-01            33                42             52            1
154  2016-11-01            34                46             55            1
155  2016-12-01            33                46             59            1
156  2017-01-01            41                51             65            0
157  2017-02-01            42                56             69            0
158  2017-03-01            44                59             75            0
159  2017-04-01            42                61             76            0
160  2017-05-01            43                63             80            0
161  2017-06-01            43                65             78            0
162  2017-07-01            42                62             76            0
163  2017-08-01            47                64             84            0
164  2017-09-01            53                71             87            0
165  2017-10-01            53                75             89            0
166  2017-11-01            52                80             94            0
167  2017-12-01            48                72             91            0
168  2018-01-01            58                76             91            0
169  2018-02-01            57                80             93            0
170  2018-03-01            58                82             95            0
171  2018-04-01            58                82             95            0
172  2018-05-01            59                83             98            0
173  2018-06-01            57                81             90            0
174  2018-07-01            60                81             88            0
175  2018-08-01            64                82             87            0
176  2018-09-01            68                85             94            0
177  2018-10-01            70                90             97            0
178  2018-11-01            67                88             94            0
179  2018-12-01            61                81             87            0
180  2019-01-01            76                86             93            0
181  2019-02-01            77                93             95            0
182  2019-03-01            75                91             98            0
183  2019-04-01            77                92             98            0
184  2019-05-01            76                92             97            0
185  2019-06-01            80                93             96            0
186  2019-07-01            85                92             96            0
187  2019-08-01            88                93             92            0
188  2019-09-01            95               100            100            0
189  2019-10-01            90                98             98            0
190  2019-11-01            87                97             96            0
191  2019-12-01            81                89             91            0
192  2020-01-01            94                94             93            1
193  2020-02-01           100                99             99            1

Formatos y colores para visualización de datos

In [30]:
#Formato para la columna data science, Mes y machine learning
format_dict = {'data_science':'${:.2f}', 'Mes':'{:%d-%m-%Y}', 'machine_learning':'{:.2%}'}
#Poner formato de fecha a la columna Mes
df['Mes'] = pd.to_datetime(df['Mes'])
#Aplicar el estilo en la visualización
df.head().style.format(format_dict)

Resaltar máximos y mínimos del dataset con colores

In [33]:
format_dict = {'Mes':'{:%d-%m-%Y}'} 
#Determina los valores máximos y mínimos con colores
df.head().style.format(format_dict).highlight_max(color='blue').highlight_min(color='pink')

Se va a utilizar una escala de colores creciente para mostrar los datos

In [35]:
df.head(150).style.format(format_dict).background_gradient(subset=['data science', 'deep learning','categorical'], cmap='BuGn')

Visualizar los datos por medio de código de barras dentro de los datos

In [37]:
df.head(150).style.format(format_dict).bar(color='green', subset=['data science','machine learning' ,'deep learning'])

In [38]:
#En una presentación es posible combinar ambos filtros de datos para la visualización
df.head(10).style.format(format_dict).background_gradient(subset=['data science', 'machine learning'], cmap='BuGn').highlight_min(color='brown').highlight_max(color='pink')

Utilizando Pandas Profiling para reporte de datos

In [40]:
import numpy as np
np.random.seed(0)
df2 = pd.DataFrame(np.random.randn(10,4), columns=['A','B','C','D'])
df2.style

Aplicación del comando applymap donde cambia el color de los valores negativos dentro de una tabla

In [41]:
def style_negative(v, props=''):
    return props if v < 0 else None
s2 = df2.style.applymap(style_negative, props='color:blue;')\
              .applymap(lambda v: 'opacity: 20%;' if (v < 0.3) and (v > -0.3) else None)
s2

Función de determine los valores máximos dentro de la tabla

In [48]:
def highlight_min(s, props=''):
    return np.where(s == np.nanmax(s.values), props, '')
s2.apply(highlight_min, props='color:white;background-color:red', axis=0)

In [49]:
# Se puede usar esta función den diferentes columnas
s2.apply(highlight_max, props='color:white;background-color:red;', axis=1)\
  .apply(highlight_max, props='color:white;background-color:cyan', axis=None)

Diagrama de barras con diferentes condiciones por cada columna

In [50]:
np.random.seed(0)
df2 = pd.DataFrame(np.random.randn(10,4), columns=['A','B','C','D'])
df2.style

df2.style.format('{:.3f}', na_rep="")\
         .bar(align=0, vmin=-2.5, vmax=2.5, cmap="bwr", height=50,
              width=60, props="width: 120px; border-right: 1px solid black;")\
         .text_gradient(cmap="bwr", vmin=-2.5, vmax=2.5)